/* 이지민 작성 */

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: #E8E8E8;
    align-items: center;
    margin-top: 40px;
    padding: 20px 30px;
    width: 100vw;
    box-sizing: border-box;
}
#footer-left div{
    padding: 2px;
    color: #A5A5A5;
}