/*--이지민 작성--*/

body{
    margin: 0;
    background-image: url('../img/background-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
a{
    text-decoration: none;
    color: #40BBCA;
}
li{
    list-style: none;
}


/* 메인 컨테이너 */
main{
    min-height: 830px;
}
.main-container{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-rows: 70px 330px 450px;
    gap: 10px;
}
.main-container h1 {
    color: #40BBCA;
}
#main-top {
    display: flex;
    gap: 10px;
}
#main-top > div:first-child{
    width: 100%;
    flex: 2;
}
#main-top > div:last-child{
    width: 100%;
    flex: 3;
}
.main-section{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #d3f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
    z-index: 2;
}


/* 사용자 프로필 */
#main-profile_top {
    margin: 8px;
    display: flex;
    align-items: end;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    justify-content: center;
}
#profile-img_box {
    width: 55px;
    height: 55px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid #94D4D8;
}
#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile-name {
    color: #40BBCA;
    font-size: 28px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 3px;
}
.main-profile{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-profile span {
    margin-left: 5px;
}
#main-profile_top a{
    height: 18px;
    border-radius: 10px;
    border: 1px solid #40BBCA;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    margin-left: 50px;
    margin-right: 25px;
}
.main-profile div {
    background-color: #d3f0f0;
    padding: 3px;
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 32px;
}
#main-profile_department {
    display: grid;
}
#main-profile_department div{
   width: 60px;
   text-align: center;
}
#main-profile_department span {
    display: flex;
    align-items: center;
}
.main-profile, .main-profile th, .main-profile td {
    border: none;
}


/* 그래프 */
.main-section h2 {
    color: #40BBCA;
    margin-left: 20px;
}
#main-chart_wrapper {
    width: 520px;
    height: 250px;
    margin: auto;
    margin-top: -12px;
}


/* 이수내역 */
#subjects-completed_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subjects-completed_top select {
    margin-right: 20px;
    width: 120px;
    height: 30px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
}

.subjects-completed_wrapper{
    width: 96%;
    height: 360px;
    margin: auto;
    overflow-x: auto;
}
#subjects-completed {
    width: 100%;
    border-collapse: collapse;
}
#subjects-completed th {
    position: sticky;
    top: 0px;
    padding: 2px;
    background-color: #ffffff;
}
#subjects-completed th > div{
    background-color: #d3f0f0;
    border-radius: 5px;
    font-weight: 500;
    padding: 3px;
}
#subjects-completed td{
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 15px;
}
.score-select-td {
    text-align: center;
}
#subjects-completed select {
    border: none;
    width: 70px;
}
.red-score {
    color: red !important;
}
.red-score select{
    color: red !important;
}