/* 이지민 작성 */
/* 네비바 css/ */

nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
    white-space : nowrap;
    min-width:max-content;
    box-sizing: border-box;
}
#nav-menu{
    display: flex;
    padding-left: 0;
    font-size: 18px;
}
#nav-menu::after{
    display: block;
    content: '';
    clear: both;
}
#nav-menu > li{
    position: relative;
    float: left;
    padding: 8px 15px;
}
#nav-menu > li > a{
    display: block;
    padding: 0 15px;
}
#nav-menu > li:hover #nav-menu_sub{
    display: block;
}
#nav-menu #nav-menu_sub{
    display: none;
    position: absolute;
    width: 120px;
    padding-top: 10px;
    left: -50px;
    text-align: center;
    font-size: 16px;
}
#nav-menu #nav-menu_sub a{
    display: block;
    padding: 10px;
    background: #d3f0f0;
}
#nav-logo{
    display: flex;
    padding-left: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* left: 50%; */
    /* padding-left: 100px;
    padding-right: 350px; */
}
.nav-logo_data{
    color: #94D4D8;
}
#nav-logout_button{
    margin-right: 20px;
    width: 90px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #40BBCA;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);

    font-size: 14px;
    color: #40BBCA;
}

@media screen and (max-width: 950px) {
    #nav-logo {
      position: relative;
      left: auto;
      transform: none;
      /* text-align: center; */
    }
  
    #nav-logo_img {
      margin-right: 0;
    }
  }