@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    background-color: #fcfcfc;
    background-image: url('../img/background-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: #40BBCA;
}
li{
    list-style: none;
}
main{
    margin-top: 30px;
    min-height: 830px;
}
.main-container{
    width: 1060px;
    margin: auto;
    display: grid;
    grid-template-columns: 660px 380px;
    grid-template-rows: 800px;
    gap: 10px;
}
.main-section{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #d3f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
    z-index: 2;
}
.main-right{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
}
.main-right > div:first-child{
    width: 100%;
    flex: 1;
}
.main-right > div:last-child{
    width: 100%;
    flex: 2;
}
#main-timetable_top{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #40BBCA;
}
#main-plus_button{
    background-color: transparent;
    border: 0px;

    font-size: 52px;
    font-weight: 500;
    color: #40BBCA;
}
/* 남서린 작성---------------------------------------------------------------------------------------- */
/* 강의추천 기본 텍스트박스 */
#section-block{
    /* 내용 박스 디자인(색, 모양 등) */
    background-color: white;
    border: 3px solid rgb(233,247,246);
    box-shadow: 1px 3px 3px 3px rgb(200, 200, 200);
    border-radius: 5px;

    align-self: center;
    width: 1000px;
    height: 700px;
    /* margin설정하니까 페이지 가운데로 자동정렬되네요! */
    margin: 0 auto;
}
/* ~님을 위한 강의추천을 받아보세요! 문구 */
p>strong{
    color: #40BBCA;
}
/* ~님을 위한 강의추천을 받아보세요! 문구 */
#section-class_box > p{
    background-color: rgb(233,247,246);
    padding: 10px;
    margin: 0 auto;
}
/* 시간표 들어있는 div */
/* #section-time_table{
    display: block;
    float: left;
    width: 400px;
    height: 500px;
    background-color: #f5f5f5;
    margin-left: 50px;
}
강의추천결과 시간표
#div-recommend_time_table, th, td{
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
}
#div-recommend_time_table th{
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 14px;
    vertical-align: top;
}
#div-recommend_time_table td{
    width: 100px;
    height: 50px;
}
#div-recommend_time_table{
    margin: auto;
} */
/* 강의추천결과 리스트(여러개 들어있는 div) */
#section-recommend_list {
    width: 90%;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#section-recommend_list > div {
    flex-basis: 31%;
    box-sizing: border-box;
}
/* 추천된 강의(과목별 하나씩 존재) */
#div-recommended_class{
    margin: 10px;
    height: 300px;
    background-color: #E9F7F6;
    border: 2px solid #62D3DA;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}
/* 다시추천받기 버튼 */
#section-re_recommend{
    width: 200px;
    height: 65px;
    font-size: 22px;
    background-color: #62D3DA;
    border-radius: 10px;
    color: white;
    border: white;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 15px;
}
/* 시간표에 추가 버튼 */
#section-add_in_time_table{
    width: 200px;
    height: 65px;
    font-size: 22px;
    background-color: #62D3DA;
    border-radius: 10px;
    color: white;
    border: white;
    display:block;
    float: right;
    font-weight: bold;
    margin-left: 15px;
}
#section-button_group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
/* 추천된 과목의 강의명 ex)환경과 오염 */
#recommendedClassName>strong{
    color: black;
}

/* 체크박스*/
input[type="checkbox"]{
    accent-color: #62D3DA;
}

#noResult {
    color: #40BBCA;
}