@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    background-color: #fcfcfc;
    background-image: url('../img/background-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: #40BBCA;
}
li{
    list-style: none;
}

main{
    margin-top: 30px;
    min-height: 830px;
}
.main-container{
    width: 1060px;
    margin: auto;
    display: grid;
    grid-template-columns: 660px 380px;
    grid-template-rows: 800px;
    gap: 10px;
}
.main-section{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #d3f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
    z-index: 2;
}
.main-right{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
}
.main-right > div:first-child{
    width: 100%;
    flex: 1;
}
.main-right > div:last-child{
    width: 100%;
    flex: 2;
}
#main-timetable_top{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #40BBCA;
}
#main-plus_button{
    background-color: transparent;
    border: 0px;

    font-size: 52px;
    font-weight: 500;
    color: #40BBCA;
}

/* 남서린 작성---------------------------------------------------------------------------------------- */
/* 강의추천 기본 텍스트박스 */
#section-block{
    /* 내용 박스 디자인(색, 모양 등) */
    background-color: white;
    border: 3px solid rgb(233,247,246);
    box-shadow: 1px 3px 3px 3px rgb(200, 200, 200);
    border-radius: 5px;

    align-self: center;
    width: 1000px;
    height: 1000px;
    /* margin설정하니까 페이지 가운데로 자동정렬되네요! */
    margin: 0 auto;
}
/* ~님을 위한 강의추천을 받아보세요! 문구 */
strong{
    color: #40BBCA;
}
/* ~님을 위한 강의추천을 받아보세요! 문구 */
#div-class_box>p{
    background-color: rgb(233,247,246);
    padding: 10px;
    margin: 0 auto;
}
/* 검색창 전체 div */
#section-search_box{
    width: 50%;
    height: auto;
    margin: 10px auto;
    display: block;
}
/* 검색창 form */
#div-search_time_table{
    display: block;
    width: 100%;
    text-align: center;
}
/* 검색창 텍스트 입력하는 부분 */
#form-search_text{
    width: 80%;
    height: auto;
    font-size: 15px;
    background-color: #FFFFFF;
    border: 1.5px solid #62D3DA;
    border-radius: 10px;
    padding: 10px;
}
#p-semester_date{
    font-weight: bold;
}
/* 검색하기 버튼 */
#form-search_button{
    width: 40px;
    height: auto;
    background-color: white;
    border: none;
    padding: 8px;
}
.fa-magnifying-glass{
    color: #62D3DA;
    height: auto;
    width: auto;
}
/* 카테고리 전체 div */
#section-class_category{
    width: 90%;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #62D3DA;
    border-radius: 10px;
    margin: 0px auto;
}
/* 카테고리 내 테이블(카테고리 테이블) */
#div-class_category_table{
    height: 100%;
    display: block;
    margin: 0 auto;
    border-spacing: 11px;
}
/* 카테고리 테이블 내 버튼 */
#div-class_category_table label{
    background-color: #FFFFFF;
    color:#62D3DA;
    width: 32px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}

/* 카테고리 테이블 내 버튼 배경색의 hover */
#div-class_category_table label:hover{
    background-color: #62D3DA;
    color: white;
    border-radius: 5px;
}


  
/* 카테고리 테이블의 td(년도, 요일 등등) */
#div-class_category_table th{
    width: 80px;
    color:#62D3DA;
}

/* 카테고리 테이블의 dropbox (년도 ,구분) */
#div-class_category_table select{
    width: 200px;
    font-size: 15px;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
/* 구분의 optgroup */
#div-class_category_table optgroup{
    font-size: 15px;
    text-align: left;
}
/* 강의 검색 결과 div */
#section-class_list{
    width: 95%;
    height: 700px;
    background-color: #FFFFFF;
    margin: 10px auto;
    overflow: auto;
}
/* 강의 검색 결과 div내의 테이블 */
#div-class_list_table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
/* 강의 검색 결과 테이블의 제목(교수명, 강의실, 시간표에 추가 등등) */
#div-class_list_table div{
    background-color: #D3F0F0;
    border-radius: 5px;
    padding: 4px;
}

#div-class_list_table th{
    position: sticky;
    top: 0;
    background-color: white;
}

#div-class_list_table th, #div-class_list_table td{
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
}
/* 시간표에 추가 버튼 */
#div-class_list_table button{
    background-color: #62D3DA;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 7px;
}
